In [1]:
import selenium

In [2]:
import pandas as pd

In [3]:
from selenium import webdriver

In [4]:
driver=webdriver.Chrome("C:\chromedriver.exe")

In [5]:
driver.get('https://www.naukri.com/')

In [6]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("data analyst")
search_loc=driver.find_element_by_id("qsb-location-sugg")
search_loc.send_keys("Bangalore")

In [7]:
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [8]:
job_titles=[]
company_names=[]
locations_list=[]

In [18]:
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="44c6234603d2ad5192c881ad0d7244ee", element="bbbea746-fce8-44b3-a679-c951f08acbb1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="44c6234603d2ad5192c881ad0d7244ee", element="93f8db0c-56c8-460b-a2e0-1cd0e5a308f0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="44c6234603d2ad5192c881ad0d7244ee", element="9ed4eb52-cb61-4180-addc-11c05c8f128c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="44c6234603d2ad5192c881ad0d7244ee", element="12fea940-f629-4ce2-a34b-6ed46b0f8596")>,
 <selenium.webdriver.remote.webelement.WebElement (session="44c6234603d2ad5192c881ad0d7244ee", element="272958fe-15d9-40a1-853b-9f609915c2aa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="44c6234603d2ad5192c881ad0d7244ee", element="fc4aebd0-a2de-466c-973a-154f713e9c20")>,
 <selenium.webdriver.remote.webelement.WebElement (session="44c6234603d2ad5192c881ad0d7244ee", element="bc7a2d9e-31d8-41d1-b516-4a40d959642d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="44c6234603d2ad5192c881ad0d7244ee", element="c4688c1b-6a7b-4cf1-8cf8-0f5070291d80")>,
 <selenium.webdriver.remote.webelement.WebElement (session="44c6234603d2ad5192c881ad0d7244ee", element="2fb2ced2-f459-40e0-b53a-c0993dbcd408")>,
 <selenium.webdriver.remote.webelement.WebElement (session="44c6234603d2ad5192c881ad0d7244ee", element="239a0a0e-cf96-42e3-a8e3-7f74e821b312")>]

In [21]:
for i in title_tags:
    
    title=i.text
    job_titles.append(title)
job_titles[0:10]

['Fresher Data Engineer / Data Scientist / Data Analyst Requirements',
 'Immediate opening For Data Scientist/Data Analyst',
 'Business Data Analyst',
 'SAS AML Data Analyst / Trainee & Data Science, Python Trainee',
 'Hiring Data Analysts',
 'Hiring Data Analysts',
 'Data Analyst',
 'Study Data Analyst',
 'Data Analyst',
 'Business Data Analyst']

In [19]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="44c6234603d2ad5192c881ad0d7244ee", element="fe0c3ac2-cb10-4546-afd3-b85576430a38")>,
 <selenium.webdriver.remote.webelement.WebElement (session="44c6234603d2ad5192c881ad0d7244ee", element="6ef39e9d-9917-4cb3-a35e-ce47a637a071")>,
 <selenium.webdriver.remote.webelement.WebElement (session="44c6234603d2ad5192c881ad0d7244ee", element="0f6eb2f8-ea38-4efe-9c81-f31cafeec7bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="44c6234603d2ad5192c881ad0d7244ee", element="8d6c88ff-d217-4d80-8748-11b7f40d1bc6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="44c6234603d2ad5192c881ad0d7244ee", element="8404757c-ea78-4e6f-9fa3-15fcea36a786")>,
 <selenium.webdriver.remote.webelement.WebElement (session="44c6234603d2ad5192c881ad0d7244ee", element="a1b2b051-0025-467c-a534-d4d3276706d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="44c6234603d2ad5192c881ad0d7244ee", element="fc35c803-afac-44b1-bf14-5bdd4cae804b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="44c6234603d2ad5192c881ad0d7244ee", element="901bcdfa-8e2f-4afc-b96a-a57ef66f14c1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="44c6234603d2ad5192c881ad0d7244ee", element="9199ae24-23b2-48a0-a1eb-4c95729e5f2e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="44c6234603d2ad5192c881ad0d7244ee", element="2bd350c0-e192-40dc-9ee0-4857d4206466")>]

In [20]:
for i in companies_tags:
    
    company_name=i.text
    company_names.append(company_name)
company_names[0:10]

['ACHYUTAS SOFT PRIVATE LIMITED',
 'CAIA-Center For Artificial Intelligence & Advanced Analytics',
 'NetApp',
 'MagicBase Royal BD Pvt Ltd',
 'Flipkart Internet Private Limited',
 'Flipkart Internet Private Limited',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'Cognizant Technology Solutions India Ltd',
 'GENPACT India Private Limited']

In [13]:
locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
locations_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="44c6234603d2ad5192c881ad0d7244ee", element="21317f9b-dcf4-4787-b816-906bbe1190e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="44c6234603d2ad5192c881ad0d7244ee", element="8b676b60-ea3c-4e40-ab25-798592beb565")>,
 <selenium.webdriver.remote.webelement.WebElement (session="44c6234603d2ad5192c881ad0d7244ee", element="18b78ff4-c14b-4640-95bf-3837a85f2ba5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="44c6234603d2ad5192c881ad0d7244ee", element="58cd2183-99fe-4faa-834b-9afcf3d108ec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="44c6234603d2ad5192c881ad0d7244ee", element="3574e889-01b5-4745-8781-7865c29cd428")>,
 <selenium.webdriver.remote.webelement.WebElement (session="44c6234603d2ad5192c881ad0d7244ee", element="fa2b9ba7-87f9-4cee-b970-873177f5d1ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="44c6234603d2ad5192c881ad0d7244ee", element="81580224-df87-4f05-89c4-2e0a39692b1c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="44c6234603d2ad5192c881ad0d7244ee", element="ba3928d5-09c9-417b-a478-0ea1400201a6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="44c6234603d2ad5192c881ad0d7244ee", element="7d5707ae-e44b-482a-a24c-517dbcd5e548")>,
 <selenium.webdriver.remote.webelement.WebElement (session="44c6234603d2ad5192c881ad0d7244ee", element="c3ee7958-d055-40b6-a44e-b30c0b2fee34")>]

In [22]:
for i in locations_tags:
    location=i.text
    locations_list.append(location)
    
    
locations_list[0:10]

['Delhi NCR, Bengaluru, Hyderabad',
 'Chennai, Pune, Bengaluru, Hyderabad',
 'Bengaluru',
 'Bengaluru(Whitefield)',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru, India',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru']

In [23]:
print(len(job_titles),len(company_names),len(locations_list))

20 20 40

In [24]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['title']=job_titles[0:10]
jobs['company']=company_names[0:10]
jobs['locations']=locations_list[0:10]

In [25]:
jobs

,title,company,locations
0,Fresher Data Engineer / Data Scientist / Data ...,ACHYUTAS SOFT PRIVATE LIMITED,"Delhi NCR, Bengaluru, Hyderabad"
1,Immediate opening For Data Scientist/Data Analyst,CAIA-Center For Artificial Intelligence & Adva...,"Chennai, Pune, Bengaluru, Hyderabad"
2,Business Data Analyst,NetApp,Bengaluru
3,"SAS AML Data Analyst / Trainee & Data Science,...",MagicBase Royal BD Pvt Ltd,Bengaluru(Whitefield)
4,Hiring Data Analysts,Flipkart Internet Private Limited,Bengaluru
5,Hiring Data Analysts,Flipkart Internet Private Limited,Bengaluru
6,Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,"Bengaluru, India"
7,Study Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,Bengaluru
8,Data Analyst,Cognizant Technology Solutions India Ltd,Bengaluru
9,Business Data Analyst,GENPACT India Private Limited,Bengaluru