In [1]:
import selenium

In [2]:
import pandas as pd
from selenium import webdriver

In [3]:
driver=webdriver.Chrome("C:\chromedriver.exe")

In [4]:
driver.get('https://www.naukri.com/')

In [5]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Scientist")
search_loc=driver.find_element_by_id("qsb-location-sugg")
search_loc.send_keys("Delhi")

In [6]:
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [7]:
job_titles=[]
company_names=[]
locations_list=[]
experience_list=[]
salary_list=[]

In [23]:
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags[0:9]

[<selenium.webdriver.remote.webelement.WebElement (session="67e503c4e5119f558d9de89fb4c8a4d3", element="0dfb5ba1-9df5-4f3b-b3c5-378a6aea84ca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67e503c4e5119f558d9de89fb4c8a4d3", element="614f7526-65cf-458a-a75e-08e3435b3758")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67e503c4e5119f558d9de89fb4c8a4d3", element="74737c4c-443b-4101-b18c-8ae9bcc4a45e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67e503c4e5119f558d9de89fb4c8a4d3", element="1791a2ae-db6f-4f86-ad3c-7ce8486f0e04")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67e503c4e5119f558d9de89fb4c8a4d3", element="b0532e49-a65d-41b8-89eb-18a051623361")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67e503c4e5119f558d9de89fb4c8a4d3", element="fae33533-8cfc-47e7-81b3-4a8ef4de8f30")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67e503c4e5119f558d9de89fb4c8a4d3", element="33afbea4-7bf1-4ba1-a05c-2311b8c5ae42")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67e503c4e5119f558d9de89fb4c8a4d3", element="d9414499-46bb-4ba9-8f81-b1b56eac8286")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67e503c4e5119f558d9de89fb4c8a4d3", element="ee1da0fd-793c-4161-b6fe-3e60fb56165d")>]

In [24]:
for i in title_tags:
    
    title=i.text
    job_titles.append(title)
job_titles[0:9]

['Fresher Data Engineer / Data Scientist / Data Analyst Requirements',
 'Data Scientist/Analyst - Machine Learning/Deep Learning',
 'Data Scientist - Python/Machine Learning',
 'Machine Learning Engineer / Data Scientist',
 'Machine Learning Engineer / Data Scientist',
 'Only Fresher / Data Scientist / Data Analyst / Business Analytics- MNC',
 'Senior Data Scientist (Remote / Work from Home)',
 'Analyst/Senior Analyst - DATA Scientist',
 'Lead Data Scientist']

In [25]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:9]

[<selenium.webdriver.remote.webelement.WebElement (session="67e503c4e5119f558d9de89fb4c8a4d3", element="41e04fa1-99e7-44fd-9f29-2f727c9311f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67e503c4e5119f558d9de89fb4c8a4d3", element="cb5d12e2-ca11-4051-8ea7-27d8a7d75f26")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67e503c4e5119f558d9de89fb4c8a4d3", element="84b7a9a0-44d6-4f19-92dd-c75125258f1a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67e503c4e5119f558d9de89fb4c8a4d3", element="c81cc675-5e5c-4c52-b220-7251cca71b0d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67e503c4e5119f558d9de89fb4c8a4d3", element="6235d63e-a092-4a14-8e66-cc5ba04fae07")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67e503c4e5119f558d9de89fb4c8a4d3", element="c29df303-ff0a-45d3-bb1a-5f96f27b5ca9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67e503c4e5119f558d9de89fb4c8a4d3", element="698de14f-9d73-49d0-b1b6-b14280aee832")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67e503c4e5119f558d9de89fb4c8a4d3", element="c73ae281-c3ea-4ce9-93d9-a7e3da46d63d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67e503c4e5119f558d9de89fb4c8a4d3", element="35e36b80-7931-45a9-b664-54e30b9f44ef")>]

In [26]:
for i in companies_tags:
    
    company_name=i.text
    company_names.append(company_name)
company_names[0:9]

['ACHYUTAS SOFT PRIVATE LIMITED',
 'EchoIndia',
 'Jubna',
 'Durr AG',
 'Durr India',
 'GABA Consultancy services',
 'WalletHub',
 'Tredence',
 'Freshdesk']

In [12]:
locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
locations_tags[0:9]

[<selenium.webdriver.remote.webelement.WebElement (session="67e503c4e5119f558d9de89fb4c8a4d3", element="c79bc7be-30d7-47e7-a176-86adfda93caf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67e503c4e5119f558d9de89fb4c8a4d3", element="3e31184d-0c03-46db-a9fd-079f72721484")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67e503c4e5119f558d9de89fb4c8a4d3", element="fa0a9aea-5c3b-41aa-abcd-446bd100d6f6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67e503c4e5119f558d9de89fb4c8a4d3", element="35d35b3e-9a11-489f-bfdb-f11111dec5d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67e503c4e5119f558d9de89fb4c8a4d3", element="c78dd584-49e4-454b-96e5-37cc3ce7f77f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67e503c4e5119f558d9de89fb4c8a4d3", element="6bc285af-3b64-4d99-9601-708e7d49c1bc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67e503c4e5119f558d9de89fb4c8a4d3", element="0be784af-8e8d-4700-92dc-ed1c490d7985")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67e503c4e5119f558d9de89fb4c8a4d3", element="fb08f2ac-42f5-452b-9c64-2d98d01cd84e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67e503c4e5119f558d9de89fb4c8a4d3", element="cc72677f-b01c-4d16-9008-5fdc388fc070")>]

In [13]:
for i in locations_tags:
    location=i.text
    locations_list.append(location)
    
    
locations_list[0:9]

['Delhi NCR, Bengaluru, Hyderabad',
 'Delhi',
 'Noida',
 'Noida',
 'Noida',
 'Delhi NCR, Greater Noida, Noida',
 'Chennai, Delhi NCR, Bengaluru',
 'Chennai, Delhi NCR, Bengaluru',
 'Faridabad, Chennai, Bengaluru']

In [14]:
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
experience_tags[0:9]

[<selenium.webdriver.remote.webelement.WebElement (session="67e503c4e5119f558d9de89fb4c8a4d3", element="14ce8cd8-b06d-497f-8a2a-226cd98a38db")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67e503c4e5119f558d9de89fb4c8a4d3", element="4af0dd4e-2d91-4904-b968-e583fe9d7dc3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67e503c4e5119f558d9de89fb4c8a4d3", element="3eef0bb2-f3df-4b05-9ef7-3a5590583b8d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67e503c4e5119f558d9de89fb4c8a4d3", element="6d291a9e-6430-4164-96ec-5b687fbe7c12")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67e503c4e5119f558d9de89fb4c8a4d3", element="0a293543-d2da-4ca4-a6f4-f04c0bb9733f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67e503c4e5119f558d9de89fb4c8a4d3", element="ebab2e42-484e-497f-b44f-a1f1512625ab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67e503c4e5119f558d9de89fb4c8a4d3", element="95824e60-bbfa-4bf4-b7e5-49b83b6ebe2b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67e503c4e5119f558d9de89fb4c8a4d3", element="caae655e-1f1c-44c3-842b-cb58d8a50247")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67e503c4e5119f558d9de89fb4c8a4d3", element="dc5dd2d5-1614-4ff4-a02d-6e0209724527")>]

In [15]:
for i in experience_tags:
    experience=i.text
    experience_list.append(experience)
    
    
experience_list[1:5]

['3-6 Yrs', '5-8 Yrs', '3-8 Yrs', '3-7 Yrs']

In [16]:
salary_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi salary']/span[1]")
salary_tags[0:9]

[<selenium.webdriver.remote.webelement.WebElement (session="67e503c4e5119f558d9de89fb4c8a4d3", element="4409ddae-bdec-4513-9087-c173e0e4dced")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67e503c4e5119f558d9de89fb4c8a4d3", element="445a7b7c-3afa-4f5c-968f-71e63a418791")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67e503c4e5119f558d9de89fb4c8a4d3", element="d9e166dc-4dde-44f9-b1c8-b7ae01f974a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67e503c4e5119f558d9de89fb4c8a4d3", element="ae203f1a-b252-455f-a0e9-94a8a469e60a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67e503c4e5119f558d9de89fb4c8a4d3", element="9a3c4584-804f-4e13-aea2-6eaa77ee0491")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67e503c4e5119f558d9de89fb4c8a4d3", element="be1bbb63-d201-4a01-be94-10e30b4686d3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67e503c4e5119f558d9de89fb4c8a4d3", element="6c419c70-c493-46e3-a2ab-1449b0eccf6b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67e503c4e5119f558d9de89fb4c8a4d3", element="52cfbcf2-ca82-41d6-9c44-d91fb6e1cb3c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67e503c4e5119f558d9de89fb4c8a4d3", element="31ba313b-5922-4ef3-9339-44b8e1c5d310")>]

In [17]:
for i in salary_tags:
    salary=i.text
    salary_list.append(salary)
    
    
salary_list[0:6]

['3,50,000 - 8,50,000 PA.',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 '2,25,000 - 4,75,000 PA.']

In [27]:
print(len(job_titles),len(company_names),len(locations_list),len(experience_list),len(salary_list))

20 20 20 20 20

In [28]:
import pandas as pd
jobs=pd.DataFrame({})

In [29]:
jobs['title']=job_titles[0:9]
jobs['company']=company_names[0:9]
jobs['locations']=locations_list[0:9]

In [31]:
jobs['experience']=experience_list[0:9]
jobs['salary']=salary_list[0:9]

In [32]:
jobs

,title,company,locations,experience,salary
0,Fresher Data Engineer / Data Scientist / Data ...,ACHYUTAS SOFT PRIVATE LIMITED,"Delhi NCR, Bengaluru, Hyderabad",0-2 Yrs,"3,50,000 - 8,50,000 PA."
1,Data Scientist/Analyst - Machine Learning/Deep...,EchoIndia,Delhi,3-6 Yrs,Not disclosed
2,Data Scientist - Python/Machine Learning,Jubna,Noida,5-8 Yrs,Not disclosed
3,Machine Learning Engineer / Data Scientist,Durr AG,Noida,3-8 Yrs,Not disclosed
4,Machine Learning Engineer / Data Scientist,Durr India,Noida,3-7 Yrs,Not disclosed
5,Only Fresher / Data Scientist / Data Analyst /...,GABA Consultancy services,"Delhi NCR, Greater Noida, Noida",0-0 Yrs,"2,25,000 - 4,75,000 PA."
6,Senior Data Scientist (Remote / Work from Home),WalletHub,"Chennai, Delhi NCR, Bengaluru",10-20 Yrs,"25,00,000 - 40,00,000 PA."
7,Analyst/Senior Analyst - DATA Scientist,Tredence,"Chennai, Delhi NCR, Bengaluru",2-4 Yrs,"6,50,000 - 8,00,000 PA."
8,Lead Data Scientist,Freshdesk,"Faridabad, Chennai, Bengaluru",5-8 Yrs,Not disclosed